@import url("base.css");
@import url("style.css");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-title {
  font-size: 1rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
  display: block;
  text-transform: uppercase;
}

.navbar-links li:hover {
  background-color: var(--hover-color);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  padding: 1px 0;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .footer-social a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.hero-img-about {
  /* stylelint-disable-next-line prettier/prettier */
  background:
    linear-gradient(rgb(0 0 0 / 10%), rgb(0 0 0 / 30%)),
    url("/img/close-up-cabeza-pic.jpeg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16vw;
}

.about-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16vw;
}

.about-story {
  text-align: center;
  letter-spacing: 3px;
}

.info-title {
  text-shadow: 4px 7px 0 #000;
}
