*{
    font-family: 'Lato', sans-serif;

}
.bdy{
    background-color:#276FBF;
    overflow-x: hidden;
}
.fa-burrito{
    color:#ffffff;
}
nav{
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-end;

}
.nav-btn{
    color:#ffffff;
    text-decoration: none;
    padding-left:100px;
}

.hero-img{
    /* background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-repeat:no-repeat;
    background-size:cover; */
    position: relative;
    max-width:100%;
    height:791px;
    /* opacity: 80%; */

}
.hero-img::before {
    content:"";
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    /* display:flex;
    justify-content: center; */
    padding-top:100px;
    font-size:32px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:10px;
}
.hero-title{
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:64px;
    padding:100px;
    text-transform: uppercase;
    border:15px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:10px;
}

.hero-p{
    color:#ffffff;
    font-size:32px;
    text-transform:uppercase;
    font-weight:lighter;
    text-align:center;
    letter-spacing:7px;
}
.read-more{
    color:#FF8008;
    text-decoration:none;
}
.story-sec{
    height:600px;
    width:700px;
    padding:50px;
    border:1px solid red;
    /* display:flex;
    flex-flow:column wrap;
    justify-content:flex-start;
    color:white;
    text-align:center; */

}
.our-story{
    text-align:center;
    text-transform: uppercase;
    letter-spacing:5px;
    color:#ffffff;
}
.story-p{
    text-align:center;
    color:#ffffff;
}
.story-img{
    width:300px;
    height:250px;
    display:flex;
    flex-flow:row;
}
/* .box-1{
    background-color:#FF8008;
    width:100%;
    max-height:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-content: center;
    padding:50px;
}
.box-2{
    background-color:#71816D;
    width:1394px;
    height:571px;
} */
.hero-img-2{
    position: relative;
    max-width:100%;
    height:791px;
}
.hero-img-2::before {
    content:"";
    background-image: url(/IMG/front-truck-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
}
.hero-p-2{
    position:relative;
    color:#ffffff;
    border:1px red solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size:64px;
    padding-top:20px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:10px;
    height:791px;
}
.info-sec{
    display:flex;
    flex-flow:row wrap;
    color:#ffffff;
    padding:150px;
    justify-content: center;

}
.info-p{
    border:1px solid red;
    /* height:450px;*/
    margin:40px;
    padding:20px;
    display:flex; 
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items:baseline;
    letter-spacing: 5px;
    /* text-transform: capitalize; */
}
.info-addy{
    padding-bottom: 50px;
}
.info-title{
text-transform:uppercase;
font-family: 'Fugaz One', cursive;

}
.map{
border:1px solid red;

display:flex;
justify-content: flex-end;
}
.insta-feed{
 display: flex;
 justify-content: center;
 align-items: center;
}