
 html,body{
    /* position:relative; */
    height:100vh;
    background-color: #276FBF !important;
    overflow-x: hidden;
    box-sizing: inherit;
} 

*{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    
}
header{
position:relative;
top:0;
width:100%;
background-color:#276FBF;
}

li{
    list-style: none;
}
a{
    color:#ffffff;
    text-decoration: none;
}
/* hamburger menu start here */
.container{
    width:1600px;
    margin:auto;
}
.subcontainer{
    width: 85%;
    margin: auto; 
}
.navbar{
    width:100%;
    min-height: 70px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
}
.nav-menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 60px;
}
.nav-branding{
font-size: 2rem;
text-transform: uppercase;
}
.hamburger{
display:none;
cursor:pointer;
}
.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px 0;
    transition: all 0.3s ease;
    background-color:#000000;
}

@media(max-width:1600px){
.container{
width:100%;
}
}

@media(max-width:1024px){
.hamburger{
display:block;
}
.hamburger.active .bar:nth-child(2){
opacity: 0;
}

.hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
position:absolute;
/* left:-100%; */
top:-100px;
gap: 0px;
display:flex;
flex-direction:column;
background-color:#FF8008;
width:100%;
text-align:center;
transition:0.3s;
}

.nav-item{
margin:16px 0;
}
.nav-menu.active{
/* left: 0; */
top:70px;
}
}
/* hamburger menu ends here */

.hero-img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(/IMG/close-up-cabeza-pic.jpeg) no-repeat center center fixed;
    background-size:cover;
    width:100%;
    height:100%;
}
.wlcme{
    position: inherit;
    text-align:center;
    /* font-size:16px; */
    color:#ffffff;
    padding-top:250px;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-content: center;
    font-weight:bold;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    /* display:flex;
    justify-content: center; */
    padding:20px 0px;
    font-size:25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:10px;
}
.hero-title{
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:30px;
    padding:100px;
    text-transform: uppercase;
    border:8px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:10px;
}
.hero-p{
    padding: 25px 0px;
    color:#ffffff;
    font-size:25px;
    text-transform:uppercase;
    font-weight:lighter;
    text-align:center;
    letter-spacing:7px;
}
.cursive-sf{
    /* font-family: 'Meie Script', cursive; */
    font-family: 'Kaushan Script', cursive;
    /* font-family: 'Fugaz One', cursive; */
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 4px 0px 0 #FF8008;
}

.read-more{
    color:#FF8008;
    text-decoration:none;
}
.story-box{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    /* border:2px solid red; */
}
.story-sec{
    /* border:2px solid red; */
    width:300px;
    padding:0px 50px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content:center;

}
.our-story{
    padding:25px 0px;
    text-transform: uppercase;
    letter-spacing:5px;
    color:#ffffff;

}
.story-p{
    text-align: center;
    color:#ffffff;
    letter-spacing: 4px;
}
/* grid image css */
.row{
    display:flex;
    flex-wrap: row wrap;
    padding: 50px 70px;
    /* border:2px solid goldenrod; */
}
.column{
    flex:50%;
    padding:5px 0px;
    /* border:2px solid purple; */
}
.column img{
    border:2px solid turquoise;
    margin-top:20px;
    display:flex;
    justify-content: center;
    padding:0px 10px;
    vertical-align: sub;
    width:100%;
    
}
.box{
    background-color:#FF8008;
    width:100%;
    height:571px; 
}
.box-title{
    text-transform: uppercase;
    text-align:center;
    font-size:30px;
    padding-top:30px;
    letter-spacing:5px;
}
.box-number{
    display:flex;
    justify-content: center;
}
.order-box{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    justify-content:center;
    align-content:center;
    height:200px;
    width:800px;
    padding-top:30px;
}
.btn-link{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-flow:row wrap;
    width:100%;
    padding:20px;
}
.button-p{
    background-color: #276FBF;
    color:white;
    width:200px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    text-align: center;
    padding:10px 0px;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 5%;
}
.button-p:hover, .button-p2:hover{
    border:4px solid #000000;
}

.button-p2{
    background-color: #276FBF;
    color:white;
    width:200px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    text-align: center;
    padding:10px 0px;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 5%;
}

.hero-img-2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(/IMG/front-truck-pic.jpeg) no-repeat center center fixed;
    background-size:cover;
    width:100%;
    height:625px;
}

.hero-p-2{
    color:#ffffff;
    /* border:1px red solid; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:64px;
    padding-top:250px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:10px;

}
.info-sec{
    display:flex;
    flex-flow:row nowrap;
    color:#ffffff;
    padding:50px;
    justify-content:flex-start;
}
.info-p{
    /* border:1px solid red; */
    /* height:450px;*/
    margin:40px;
    /* padding:20px; */
    display:flex; 
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items:baseline;
    letter-spacing: 5px;
    /* text-transform: capitalize; */
}
.info-addy{
padding-bottom: 50px;
}
.info-title{
text-transform: uppercase;
font-family: 'Fugaz One', cursive;

}
.map-responsive{
    margin:40px;
    overflow:hidden;
    padding-bottom:56.25%;
    padding-top:30px;
    position:relative;
    /* height:0; */
}

.map-responsive iframe,
.map-responsive object,
.map-responsive embed { 
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footer1{
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align: center; 
    padding:25px 0px;
}
.fa-instagram{
    color:#ffffff;
    font-size:30px;
    text-decoration: none;
}
.fa-facebook{
    color:#ffffff;
    font-size:30px;
    text-decoration: none;
}
.top-page{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    border:2px solid white;
    height:20px;
}
.top-page:hover{
    border:2px solid #FF8008;
}
a.fa-instagram:hover{
    color:#FF8008;
}
a.fa-facebook:hover{
    color:#FF8008;
}
.footer-social{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
}
a.footer-social:hover{
    color:#FF8008;
    cursor:pointer;
}
/* media query  for 688px or more*/
@media (min-width:43rem){
    html,body{
        margin:0;
        padding:0;
        overflow-x:hidden;
}
.hero-img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(/IMG/close-up-cabeza-pic.jpeg) no-repeat center center fixed;
    background-size:cover;
    width:100%;
    height:100%;
}

.wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
    font-size:43px;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    display:flex;
    justify-content: center;
    padding-top:50px;
    font-size:32px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing:5px;
}
.hero-title{
    text-align:center;
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:64px;
    padding:30px;
    text-transform: uppercase;
    /* border:2px solid #FFFFFF; */
    font-weight:bold;
    letter-spacing:10px;
}

.hero-p{
    color:#ffffff;
    font-size:32px;
    text-transform:uppercase;
    font-weight:bolder;
    text-align:center;
    letter-spacing:7px;
}
.cursive-sf{
    /* font-family: 'Meie Script', cursive; */
    font-family: 'Kaushan Script', cursive;
    /* font-family: 'Fugaz One', cursive; */
    font-weight: bolder;
    font-size: 90px;
    letter-spacing: 10px;
    text-shadow: 7px 0px 0 #FF8008;  
}
.story-sec{
    /* border:2px solid red; */
    /* height:660px; */
    width:100%;
    padding:25px 50px;
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    align-content:center;

}
.our-story{
    padding:25px 0px;
    text-transform: uppercase;
    letter-spacing:5px;
    color:#ffffff;

}
.story-p{
    text-align: center;
    color:#ffffff;
    letter-spacing: 3px;
}
.story-box{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}

.hero-img-2{
    position: relative;
    max-width:100%;
    height:350px;
    opacity: 80%;
}
/* .hero-p-2{
    position:relative;
    color:#ffffff;
    border:1px red solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size:64px;
    padding-top:20px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:10px;
    height:350px;
} */
/* .hero-img{
    position: relative;
    max-width:100%;
    height:350px;
    opacity: 80%;
}
.hero-title-about{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive ;
    font-weight: bolder;
    font-size: 100px;
    letter-spacing: 10px;
    color:#ffffff;
    text-shadow: 4px 2px 0 #FF8008; 
    height:100%;
    
}
.about-sec2{
    height:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;

}
.about-title{
    padding:2px 0px;
    font-family:'Kaushan Script', cursive ;
    text-decoration-style: double;
    font-size:25px;
    text-transform: capitalize;
    color:#ffffff;

} */
/*
.about-story{
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:5px 100px;
    letter-spacing: 5px;
    font-size:1px;
    line-height: 30px;
} */

}
/* end media query 42rem */

/* 992px breakpoint */
@media (max-width:62rem){
/* .hero-img{
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    max-width:100%;
    height:350px;
    opacity: 80%;
    } */
/* .hero-img::before {
    content:"";
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
} */
/* .wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
} */
/* .wlcme-2{
    color:#ffffff;
    position:relative;
    display:flex;
    justify-content: center;
    padding-top:50px;
    font-size:25px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing:5px;
} */
/* .hero-title{
    text-align:center;
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:35px;
    padding:30px;
    text-transform: uppercase;
    border:10px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:5px;
}

.hero-p{
    color:#ffffff;
    font-size:25px;
    text-transform:uppercase;
    font-weight:bolder;
    text-align:center;
    letter-spacing:7px;
} */
} 

/* END OF MEDIA QUERY */

/* ABOUT PAGE CSS */


/***** add slideshow to hero about page *****/
.hero-title-about{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive ;
    font-weight: bolder;
    font-size: 100px;
    letter-spacing: 10px;
    color:#ffffff;
    text-shadow: 4px 2px 0 #FF8008; 
    height:100%;
    
}
.about-sec2{
    height:500px;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;

}
.about-title{
    padding:25px 0px;
    font-family:'Kaushan Script', cursive ;
    text-decoration-style: double;
    font-size:54px;
    text-transform: capitalize;
    color:#ffffff;

}
.about-story{
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:50px 100px;
    letter-spacing: 5px;
    font-size:15px;
    line-height: 30px;
}
/* footer */
.footer1-about{
    position:sticky;
    bottom:0;
        display:flex;
        justify-content:space-around;
        align-items:center;
        text-align: center; 
        padding:25px 0px;
        border:1px solid #FF8008;
        background-color: #FF8008;
    }
    .fa-instagram{
        color:#ffffff;
        font-size:30px;
        text-decoration: none;
    }
    .fa-facebook{
        color:#ffffff;
        font-size:30px;
        text-decoration: none;
    }
    .top-page{
        color:#ffffff;
        text-decoration:none;
        text-transform: uppercase;
        border:2px solid white;
        height:20px;
    }
    .top-page:hover{
        border:2px solid #71816D;
    }
    a.fa-instagram:hover{
        color:#71816D;
    }
    a.fa-facebook:hover{
        color:#71816D;
    }
    .footer-social{
        color:#ffffff;
        text-decoration:none;
        text-transform: uppercase;
    }
    a.footer-social:hover{
        color:#71816D;
        cursor:pointer;
    }