body{
    margin:0;
}

*{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
}
.bdy{
    background-color:#276FBF;
    overflow-x: hidden;
}

.fa-burrito{
    color:#ffffff;
}
/* nav bar starts */
.my-button {
    background-color: transparent;
    border: 10px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    margin-left: 32px;
    float: left;
    line-height: 70px;
    display: none;
}

.my-button:focus {
    outline: none;
}
/* when user clicks on my-button no outline */

nav {
    background-color: #276FBF;
    flex-wrap: wrap;
}


nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none
}

nav ul li {
    padding: 20px 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size:20px;
}
nav ul li:hover {
    text-decoration: underline;
    color:#FF8008;
}
@media (max-width: 800px) {
nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
}
nav ul.show {
display: flex;
}

.my-button {
    display: block;
}
}

@media (max-width: 600px) {
    nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul.show {
    display: flex;
}

.my-button {
    display: block;
}

nav {
background-color: rgb(62, 109, 149);
    }
}

.hero-img{
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    max-width:100%;
    height:791px;
    opacity: 80%;

}
.hero-img::before {
    content:"";
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    /* display:flex;
    justify-content: center; */
    padding-top:100px;
    font-size:32px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:10px;
}
.hero-title{
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:64px;
    padding:100px;
    text-transform: uppercase;
    border:15px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:10px;
}

.hero-p{
    color:#ffffff;
    font-size:32px;
    text-transform:uppercase;
    font-weight:lighter;
    text-align:center;
    letter-spacing:7px;
}
.read-more{
    color:#FF8008;
    text-decoration:none;
}
.story-sec{
    height:100%;
    width:100%;
    padding:50px;
    border:1px solid red;
    display:flex;
    flex-flow:row;
}
.our-story{
    /* text-align:center; */
    text-transform: uppercase;
    letter-spacing:5px;
    color:#ffffff;
}
.story-p{
    /* text-align:center; */
    color:#ffffff;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.story-img{
    width:300px;
    height:250px;
}
.image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height:300px;

    box-sizing:border-box;
    padding: var(--gap);

    display:grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); 
    /* 1fr equal widths columns */
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:flex;
    justify-content: flex-start;
    flex-flow:row nowrap;
}
.image-grid{

    /* display:flex;
    justify-content: flex-start;
    flex-flow:column wrap; */
    border:1px solid red;
}
.box{
    background-color:#FF8008;
    width:100%;
    height:571px; 
}
.box-title{
    text-transform: uppercase;
    text-align:center;
    font-size:30px;
    padding-top:20px;
    letter-spacing:5px;
}
.box-number{
    display:flex;
    justify-content: center;
}
.order-box{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    justify-content:center;
    align-content:center;
    height:200px;
    width:800px;
}
button{
    color:#ffffff;
    background-color: #276FBF;
    padding: 9px 27px 3.6px;
    border-radius: 50%;
}
.button-p{
    text-transform:uppercase;
    text-align:center;
    letter-spacing: 3px;
}
.button-link{
    width:200px;
    height:250px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-content:center;
    
}
.fa-regular .fa-taco{
    color:white;
    width:20px;
    height: 20px;
}
.box-2{
    background-color:#71816D;
    width:1394px;
    height:571px;
}
.hero-img-2{
    position: relative;
    max-width:100%;
    height:791px;
}
.hero-img-2::before {
    content:"";
    background-image: url(/IMG/front-truck-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
}
.hero-p-2{
    position:relative;
    color:#ffffff;
    border:1px red solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size:64px;
    padding-top:20px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:10px;
    height:791px;
}
.info-sec{
    display:flex;
    flex-flow:row wrap;
    color:#ffffff;
    padding:150px;
    justify-content: center;

}
.info-p{
    border:1px solid red;
    /* height:450px;*/
    margin:40px;
    padding:20px;
    display:flex; 
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items:baseline;
    letter-spacing: 5px;
    /* text-transform: capitalize; */
}
.info-addy{
    padding-bottom: 50px;
}
.info-title{
text-transform:uppercase;
font-family: 'Fugaz One', cursive;

}
.map{
border:1px solid red;
display:flex;
justify-content: flex-end;
}
