body{
    position:relative;
    height:1000vh;
    background-color: #276FBF !important;
}

*{
    font-family: 'Lato', sans-serif;
    /* removing default padding and margin */
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}
header{
position:fixed;
top:0;
width:100%;
background-color:#FF8008;
}
li{
    list-style: none;
}
a{
    color:#ffffff;
    text-decoration: none;
}
.container{
    width:1600px;
    margin:auto;
}
.subcontainer{
    width: 85%;
    margin: auto; 
}
.navbar{
    width:100%;
    min-height: 70px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
}
.nav-menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 60px;
}
.nav-branding{
font-size: 2rem;
}
.hamburger{
display:none;
cursor:pointer;
}
.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px 0;
    transition: all 0.3s ease;
    background-color:#000000;
}
#home{
margin-top:70px;
border: 5px solid red;
height:100vh;
}
@media(max-width:1600px){
.container{
width:100%;
}
}

@media(max-width:1024px){
.hamburger{
display:block;
}
.hamburger.active .bar:nth-child(2){
opacity: 0;
}

.hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
position:fixed;
/* left:-100%; */
top:-100px;
gap: 0px;
display:flex;
flex-direction:column;
background-color:#FF8008;
width:100%;
text-align:center;
transition:0.3s;
}

.nav-item{
margin:16px 0;
}
.nav-menu.active{
/* left: 0; */
top:70px;
}
}
/* .hero-img{
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    max-width:100%;
    height:790px;
    opacity: 80%;

} */
/* .hero-img::before {
    content:"";
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
} */
.wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    /* display:flex;
    justify-content: center; */
    padding-top:100px;
    font-size:32px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:10px;
}
.hero-title{
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:64px;
    padding:100px;
    text-transform: uppercase;
    border:15px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:10px;
}

.hero-p{
    color:#ffffff;
    font-size:32px;
    text-transform:uppercase;
    font-weight:lighter;
    text-align:center;
    letter-spacing:7px;
}
.read-more{
    color:#FF8008;
    text-decoration:none;
}
.story-sec{
    height:100%;
    width:100%;
    padding:50px;
    display:flex;
    flex-flow:row;
    justify-content: center;
}
.our-story{
    padding-top:25px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing:5px;
    color:#ffffff;
}
.story-p{
    text-align:center;
    color:#ffffff;
    letter-spacing: 4px;
}
/* .story-img{
    width:300px;
    height:250px;
} */
/* .image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height:300px;

    box-sizing:border-box;
    padding: var(--gap);

    display:grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); 
    /* 1fr equal widths columns */
    /* grid-auto-rows: var(--row-height);
    gap: var(--gap); 
}
.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:flex;
    justify-content: flex-start;
    flex-flow:row nowrap;
}
.image-grid{

    display:flex;
    justify-content: flex-start;
    flex-flow:column wrap;
    border:1px solid red;
} */
.box{
    background-color:#FF8008;
    width:100%;
    height:571px; 
}
.box-title{
    text-transform: uppercase;
    text-align:center;
    font-size:30px;
    padding-top:30px;
    letter-spacing:5px;
}
.box-number{
    display:flex;
    justify-content: center;
}
.order-box{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    justify-content:center;
    align-content:center;
    height:200px;
    width:800px;
    padding-top:30px;
}
button{
    color:#ffffff;
    background-color: #276FBF;
    /* padding: 9px 27px 3.6px; */
    /* border-radius: 50%; */
    /* width:155px;
    height:70px; */
}
.btn-link{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-flow:row wrap;
    width:100%;
    padding:20px;
}
.button-p{
    background-color: #276FBF;
    color:white;
    width:200px;
    height:60px;
    text-transform:uppercase;
    text-align: center;
    padding-top:15px;
    letter-spacing: 3px;
    text-decoration: none;
}

.button-p2{
    background-color: #276FBF;
    color:white;
    width:200px;
    height:70px;
    text-transform:uppercase;
    text-align: center;
    padding-top:10px;
    letter-spacing: 3px;
}

/* .button-link{
    width:200px;
    height:250px;
    border:1px solid red;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-content:center;
    
} */

/* .hero-img-2{
    position: relative;
    max-width:100%;
    height:791px;
} */
/* .hero-img-2::before {
    content:"";
    background-image: url(/IMG/front-truck-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
} */
.hero-p-2{
    position:relative;
    color:#ffffff;
    /* border:1px red solid; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size:64px;
    padding-top:20px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:10px;
    height:791px;
}
.info-sec{
    display:flex;
    flex-flow:row nowrap;
    color:#ffffff;
    padding:50px;
    justify-content:flex-start;
}
.info-p{
    /* border:1px solid red; */
    /* height:450px;*/
    margin:40px;
    /* padding:20px; */
    display:flex; 
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items:baseline;
    letter-spacing: 5px;
    /* text-transform: capitalize; */
}
.info-addy{
padding-bottom: 50px;
}
.info-title{
text-transform: uppercase;
font-family: 'Fugaz One', cursive;

}
.map-responsive{
    margin:50px;
    overflow:hidden;
    padding-bottom:56.25%;
    padding-top:30px;
    position:relative;
    height:0;
}

.map-responsive iframe,
.map-responsive object,
.map-responsive embed { 
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

footer{
    display:flex;
    justify-content:space-around;

}
.fa-instagram{
    color:#ffffff;
    font-size:30px;
    text-decoration: none;
}
.fa-facebook{
    color:#ffffff;
    font-size:30px;
    text-decoration: none;
}
.top-page{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
}
.footer-social{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
}
/* media query for mobile */
@media (max-width: 42rem){

/* .hero-img{
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    max-width:100%;
    height:350px;
    opacity: 80%;
    padding-top:20px;
} */
/* .hero-img::before {
    content:"";
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    } */

.wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    display:flex;
    justify-content: center;
    padding-top:50px;
    font-size:15px;
    text-transform: uppercase;
    /* font-weight: bolder; */
    letter-spacing:5px;
}
.hero-title{
    text-align:center;
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:25px;
    padding:30px;
    text-transform: uppercase;
    border:5px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:5px;
}

.hero-p{
    color:#ffffff;
    font-size:15px;
    text-transform:uppercase;
    font-weight:bolder;
    text-align:center;
    letter-spacing:7px;
}
.our-story{
    text-align:center;
    text-transform: uppercase;
    letter-spacing:5px;
    color:#ffffff;
}
.story-sec{
    height:100%;
    width:100%;
    padding:50px;
    display:flex;
}
.story-p{
    text-align:center;
    color:#ffffff;
    /* display:flex;
    flex-direction: row;
    justify-content: center; */
}
.hero-img-2{
    position: relative;
    max-width:100%;
    height:350px;
    opacity: 80%;
}
.hero-img-2::before {
    content:"";
    background-image: url(/IMG/front-truck-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
}
.hero-p-2{
    position:relative;
    color:#ffffff;
    /* border:1px red solid; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size:64px;
    padding-top:20px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:10px;
    height:350px;
}
}
/* end media query 42rem */

@media (max-width:62rem){
    /* .hero-img{
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    max-width:100%;
    height:350px;
    opacity: 80%;
    } */
/* .hero-img::before {
    content:"";
    background-image: url(/IMG/close-up-cabeza-pic.jpeg);
    background-size:cover;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
} */
.wlcme{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center ;
    text-align:center;
    font-weight:bold;
}
.wlcme-2{
    color:#ffffff;
    position:relative;
    display:flex;
    justify-content: center;
    padding-top:50px;
    font-size:25px;
    text-transform: uppercase;
     /* font-weight: bolder; */
    letter-spacing:5px;
}
.hero-title{
    text-align:center;
    position:relative;
    color:#ffffff;
    align-self:center;
    font-size:35px;
    padding:30px;
    text-transform: uppercase;
    border:10px solid #FFFFFF;
    font-weight:bold;
    letter-spacing:5px;
}

.hero-p{
    color:#ffffff;
    font-size:25px;
    text-transform:uppercase;
    font-weight:bolder;
    text-align:center;
    letter-spacing:7px;
}
}

/* END OF MEDIA QUERY */